body, html{
    margin-top: 0;
    padding: 0;
    height: auto;
    width: auto;
    background-color: #f3f3f3;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
    
}
.txt h2{
    font-family: 'Lora', serif;
    font-weight: 1000;
    color: #313131;
}
.txt h4{
    font-weight: 1000;
}
h1{
    font-family: 'Lora', serif;
    font-size: 1.9em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
h3{
    font-size: 1.8em;
}
h2,h4{
    text-align: center;
    line-height: 3rem;
}
h3{
    text-align: center;
    color: #f3f3f3;
    line-height: 4rem;
    font-weight: bold;
}
h2{
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: bolder;
    font-size: 1.8rem;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 2rem;
    color:#313131;
}
a,
a:hover,
a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.6s;
}
a.dropdown-toggle{
    color: #313131;

}
ul ul a{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #a7bcd4;
}
table{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    line-height: 1.3rem;
    letter-spacing: 0.05rem;
}

tr:nth-child(even){
    background-color: #a7bcd4;
}
th{
    font-weight: bold;
    font-size: 0.8rem;
}
hr{
    border-style: solid none none;
    border-width: thin;
    border-color:#f4f6ff;
    width: 30%;
}
td{
    font-size: 0.8rem;
}
li{
    font-size: 1.2em;
}