@media (max-width: 100vw){
    #sidebar{
        margin-left: -200px;
    }
    #sidebar.active{
        margin-left: 0;
    }
    #sidebarCollapse{
        display: flex;
    }
}

@media (max-width: 1000px){
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .row.MySlides{
        width: 100vw;
        text-align: center;
    }
    a.link{
        font-size: 120%;
    }
    .title{
        font-size: 8vw;
        font-weight: 400;
        margin-top: 1rem;
        width: 80%;
        position:absolute;
        top:2vw;
        left:10%;
        line-height: 4rem;
    }
    .icons_social{
        display: none;
    }
    .first{
        margin-top: 20rem;
        padding-right: 0;
        
    }
    .book_link{
        position:relative;
        top:42vh;
        left:-22vw;
        text-align: center;
        font-weight: 800;
        font-size: 120%;
        width: 50%; 
        margin: auto; 
        
    }
    #sidebarCollapse,
    .icon_menu,
    .navbar{
        display: none;
    }
    .slideshow-container{
        margin-bottom: 1rem;
    }
    .row_slideshow{
        margin-right: 1rem;
    }

    .footer{
        margin-right: 1rem;
    }
    .open{
        margin-bottom: 12rem;
    }
    .row_venue{
        margin-right: 1rem;
        height: 130vh;
    }
    .venue{
        height: 120vh;
    }
    .venue_title{
        margin: auto;
        font-size: 150%;
        position: relative;
        width: 100%;
        display: block;
    }
    .pub-logo{
        position: relative;
        
        
        height: 50%;
        margin: auto;
    }
    .pub_logos{
        
        margin-top: 2.2rem;
        width: 80vw;
        display: block;
        margin-left: -2rem;
    }
.pic_plate,
.pic_fish,
.pic_drink{
    margin:auto;
    float:right;
    background-size: contain;
    transition: 0.6s all;
    width: 40%;
    display: inline;
}
.pic_plate{
    margin-top: 3rem;
}
.pic_burger,
.pic_plate_steak{
    margin:auto;
    float:left;
    background-size: contain;
    transition: 0.6s all;
    width: 50%;
    display: inline;
}
.pic_burger{
    width: 50%;
    margin-top: 2rem;
}
.pic_fish,
.pic_plate_steak{
    width: 50%;
    margin-top: 3rem;
    
}
.pic_drink{
    width:50%;
    margin-top: -2rem;
   
}
.slide_text_left{
    margin-top: -1.7rem;
    display: inline;
    width: 50%;
    float: left;
    
}
.slide_text_right{
    margin-top: -1.7rem;
    display: inline;
    width: 50%;
    float: right;
    padding-right: 1rem;
}
.txt h2{
    font-size: 1.8rem;
    margin: auto;
}
.txt h3{
    line-height: 2rem;
    font-size: 1.6rem;
    margin: auto;
}
.txt h4{
    line-height: 2.3rem;
    font-size: 1.6rem;
    margin: auto;
}
.txt{
    
    margin: auto;
    margin-top: -1rem;
}
.plain{
    height: 60vh;
}
.link{
    position: relative;
    top:40%;
}

}