/* sidebar menu */

.wrapper{
    display: flex;
    text-decoration: none;
    transition: all 0.6s;
    overflow: hidden;
}
#sidebar{
    min-width: 200px;
    max-width: 200px;
    background-color: #a1b1c2;
    color: #313131;
    transition: all 0.6s;  
}
.side{
    margin-left: 0;
}

#sidebar .sidebar-header{
    padding:30px 30px 30px 5px;
    background:#a1b1c2;
    font-size: 1.2rem;
}
#sidebar ul.components{
    padding: 20px 0;
    border-bottom: 1px solid #a7bcd4;
}
#sidebar ul p{
    color: #f3f3f3;
    padding: 10px;
}
#sidebar ul li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
}
#sidebar ul li a:hover{
    color: #313131;
    background: #a7bcd4;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #313131;
    background: #a7bcd4;
}
a[data-toggle="collapse"]{
    position: relative;
}
.dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}
#content{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.6s;
}

.icon_menu{
    width: 5rem;
}
.navbar{
    width: 5rem;
    z-index: 99;
}


/* menu elements */
.pub-logo_menu{
    height: 17rem;
    padding-bottom: 2rem;
    margin-left: -1.2rem;
    margin-top: -2rem;
    
}
.welcome{
    font-weight: 900;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 10px;
    font
}

/* MAIN CONTENT */
.book_link{
    float: right;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 100%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #313131;
    text-decoration: none;
    margin-top: -2.5rem;
    margin-right: 2rem;
    transition: 0.6s all;
}
.book_link_small{
    float: right;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 100%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #313131;
    text-decoration: none;
    margin-top: -2.5rem;
    margin-right: 232px;
    transition: 0.6s all;
    
}
.icons_social{
    float: left;
    margin-left: 7rem;
    margin-top: -2.5rem;
    transition: 0.6s all;
}
.icons_social_small{
    display: none;
}

.icons1,
.icons2,
.icons1_bot,
.icons2_bot{
margin-right: 2rem;
}
.icons1,
.icons2,
.icons3,
.icons1_bot,
.icons2_bot,
.icons3_bot{
    color:#313131;
    height: 1.4rem;
    width: 1.4rem;
}

.title{
    font-family: 'Lora', serif;
    font-size: 3vw;
    line-height: 3.5rem;
    position:absolute;
    top:2vw;
    left:20%;
    text-align: center;
    letter-spacing: 1.2rem;
    z-index: 98;
    text-transform: uppercase;
    transition: 0.6s all;
    width: 60%;
    color: #313131;
}
.title-move{
    font-family: 'Lora', serif;
    font-size: 3vw;
    line-height: 3.5rem;
    position:absolute;
    top:2vw;
    left:20%;
    text-align: center;
    letter-spacing: 1rem;
    z-index: 98;
    text-transform: uppercase;
    transition: 0.6s all;
    width: 60%;
}
.first{
    padding-top: 2rem;
    padding-right: 1rem;
}
.food{
    background-image: url(images/food.jpg);
    margin-bottom: 1rem;
}
.christmas{
    background-image: url(images/christmas.jpg);
    margin-bottom: 1rem;
}
.drink{
    margin-bottom: 1rem;
    background-image: url(images/drinks.jpg);
}
.plain{
    background-color: #ff9a76;
    padding: 2rem;
    margin-bottom: 1rem;
}

.delivery{
    background-image: url(images/delivery.jpg);
    margin-bottom: 1rem;
}
.wine-list{
    background-image: url(images/wine.jpg);
    margin-bottom: 1rem;
}
.func{
    background-image: url(images/car2.jpg);
    margin-bottom: 1rem;
}
.photo_background{
    float:left;
    height: 40vh;
    background-size: cover;
    margin-right: 1rem;
    transition: 0.6s all;
    width: 100%; 
}
.photo_back{
    float:left;
    height: 40vh;
    background-size: cover;
    transition: 0.6s all;
    width: 100%; 
    margin-right: 0.5rem;   
}
.photo_background_small{
    opacity:0.5;
    float:left;
    height: 35vh;
    background-size: cover;
    transition: 0.6s all; 
}
.photo_background1_small{
    opacity:0.5;
    float:left;
    height: 35vh;
    background-size: cover;
    transition: 0.6s all; 
    margin-right: 0;
}
.container-fluid{
    margin: 0;
    padding:0;
    transition: 0.6s all; 
}
.row{
    margin-left:0;
    margin-right: 1rem; 
    display: flex;  
    flex-wrap: nowrap;
    position: relative;
    transition: 0.6s all;
}
.row_small{
    transition: 0.6s all;
    margin-right: 210px;
}
.row_nomargin{
    margin-right: 0;
}
.row_nomargin1{
    margin-right: -1rem;
}
.link{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: 'Old Standard TT', serif;
    font-size: 150%;
    letter-spacing: 0.5rem;
    line-height: 2rem;
    transition: 0.6s all;
    font-weight: bold;
    padding: 1rem;
    background-color: white;
    opacity:0.6;
    width: 80%;
    position: relative;
    top:6rem;
    left:10%;
    z-index: 98;
    float: left;

}
.link_small{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: 'Old Standard TT', serif;
    font-size: 150%;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    transition: 0.6s all;
    font-weight: bold;
    padding: 1rem;
    background-color: white;
    opacity:0.6;
    width:80%;
    position:relative;
    top:5rem;
    left:10%;
    z-index: 98;
    float: left;
}

/* SLIDESHOW */
.slideshow-container {
    position: relative;
    padding:2rem;
    background-color: #a1b1c2;
    width: 32vw;
}
.mySlides {
    display: none;
    text-align: center;
    width: auto;
}
/* slideshow icons */
.pic_plate,
.pic_fish,
.pic_drink
.pic_burger,
.pic_plate_steak{
    position: relative;
}
.pic_plate{
    width: 60%;
    float: right;
}
.pic_burger{
    width: 60%;
    float: left;
}
.pic_fish{
    width: 40%;
    float: right;
}
.pic_plate_steak{
    width:60%;
    float: left;
}
.pic_drink{
    width: 40%;
    float: right;
}




.slide_text_left{
    display: inline;
    width: 40%;
    float: left;
    margin: auto;
    margin-top: -1rem;
    line-height: 1rem;
}

.slide_text_right{
    display: inline;
    width: 40%;
    float: right;
    margin: auto;
    margin-top: -1rem;
    line-height: 1rem;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
} 
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.about{
    background-image: url(images/pub.jpg);  
    background-size: 40%;  
}
.row_about{
   margin:auto;
   margin-bottom: 1rem;
}

/* footer */
/* footer */
.find,
.mailClub,
.open{
    background-color: #a1b1c2;
    padding:2rem;
    height: 80vh;
    text-align: center;
}


.adress{
    line-height: 2rem;
    size: 1rem;
}
.row_footer{
    background-color: #a1b1c2;
}
/* venue */
.venue{
    background-color: #ff9a76;
    padding: 2rem;
    padding-top: 3rem;
    height: 60vh;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.row_venue{
    background-color: #a1b1c2;
    padding: 1rem;
    margin:auto;
}
.row_venue_small,
.row_footer_small{
    transition: 0.6s all;
    margin-right: 12rem;
}
.row_footer_small{
    padding-bottom: 5rem;
    margin-right: 12rem;
}
.row_about_small{
    margin-right: 11rem;
}

.pub-logo{
    height: 12rem;
    margin:2rem 2rem 0 2rem;
}
.axe{
    margin-left: 0;
}
.venue_title{
    padding-top: 2rem;
    margin-bottom: 4rem;
    display: block;
    width: 80vw;
    margin:auto
}
.pub_logos{
    text-align: center;
    width: 100%;
    margin:auto;
}
.menu_link{
    font-family: 'Julius Sans One', sans-serif;
}


